*:not(icon){
    font-family: 'Kosugi Maru', sans-serif;
    font-family: 'Fira Sans Extra Condensed', sans-serif
}
.custom-select{
    position: relative;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    color: #333;
    size: 18px;
    width: 160px;
    height: 50px;
}
.I{
    border-radius:30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+35,e20074+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 35%, #e20074 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 35%,#e20074 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 35%,#e20074 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e20074',GradientType=1 ); /* IE6-9 */
}
.DS{
    border-radius:30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+35,1d00db+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 35%, #1d00db 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 35%,#1d00db 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 35%,#1d00db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1d00db',GradientType=1 ); /* IE6-9 */
}
.O{
    border-radius:30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+35,f70004+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 35%, #f70004 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 35%,#f70004 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 35%,#f70004 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f70004',GradientType=1 ); /* IE6-9 */
}
.btn{
    background-color: gray;
    height: 30px;
    width: 30px;
}
.todoapp{
    margin-top: 100px;
}
.logo a {
    background: url(https://www.t-mobile.com/etc/clientlibs/t-mobile/publish/app/clientlibs_app/assets/images/marketing/logo-white.svg) no-repeat;
}
.font26{
    height:50px;
    font-size: 26px;
}
.btn-primary{
    font-size: 18px;
    height: 42px;
    border: 1px solid #BEBEBE;
    font-family: Arial,sans-serif;
    border-radius: 23px;
    line-height: 1.45em;
    background-color: #E20074 !important;

}
.list-group-item{
    border: solid 0px black !important;
}
