<section class="">
    <section class="todoapp container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <img src="./app/assets/logo.png">
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="inputTxtTodo" class="font26">Add your todos</label>
                    <input class="form-control font26" id='inputTxtTodo' placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodoText" (keyup.enter)="addTodo()">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="selectPriority" class="font26">Select a priority</label>
                    <select id='selectPriority' class="form-control font26" [(ngModel)]="selectedLevels" (change)="selectLevel($event)">
                        <option *ngFor="#i of levels" [value]="i.index">
                            {{i.value}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <input type="button" class="btn btn-primary font26" (click)="addTodo()" value="Save" style="width: 100%;">
                </div>
            </div>
        </div>
    </section>


	<section class="main" *ngIf="todoStore.todos.length > 0">
        <hr>
        <div class="row">
            <div class="col-sm-8 col-sm-8 col-sm-8 offset-sm-2 offset-md-2 offset-lg-2">
                <div class="row">
                    <div class="col-sm-3 col-sm-3 col-sm-3 offset-sm-3 offset-md-3 offset-lg-3">
                        <label class="font26">Select all</label>
                    </div>
                    <div class="col-sm-3 col-sm-3 col-sm-3">
                        <input class="form-control" type="checkbox" *ngIf="todoStore.todos.length" #toggleall [checked]="todoStore.allCompleted()" (click)="todoStore.setAllTo(toggleall.checked)">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-8 col-sm-8 col-sm-8 offset-sm-2 offset-md-2 offset-lg-2">
                <ul class="list-group">
                    <li *ngFor="#todo of todoStore.todos" [class.completed]="todo.completed" [class.editing]="todo.editing" class="list-group-item">
                        <div [ngClass]="['view',todo.dueTime, 'row', 'animated', 'bounce']" (swiperight)="swipe(todo, $event)">
                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <div class="form-group" style="margin-top: 15px;">
                                    <input type="checkbox" class="form-control" (click)="toggleCompletion(todo)" [checked]="todo.completed">
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <div class="form-group" style="margin-top: 15px;">
                                    <label class="form-control" *ngIf="!todo.editing" (dblclick)="editTodo(todo)" class="text-left" style="font-size: 22px;">{{todo.title}}</label>
                                    <input class="form-control" *ngIf="todo.editing" [value]="todo.title" #editedtodo (blur)="stopEditing(todo, editedtodo.value)" (keyup.enter)="updateEditingTodo(todo, editedtodo.value)" (keyup.escape)="cancelEditingTodo(todo)">
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group" style="margin-top: 15px;">
                                    <select class="form-control" (change)="moveStatus(todo, $event)">
                                        <option *ngFor="#i of levels" [value]="i.index" [selected]="todo.dueTime == i.index">
                                            {{i.value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group row" style="margin-top: 15px;">
                                    <div class="btn text-center" (click)="moveUp(todo)" style="padding: 0px;font-size: 18px;background-color: #fff;border-radius: 12px;margin-left: 10px;">
                                        <icon class='fa fa-arrow-up'></icon>
                                    </div>
                                    <div class="btn text-center" (click)="moveDown(todo)" style="padding: 0px;font-size: 18px;background-color: #fff;border-radius: 12px;margin-left: 10px;">
                                        <icon class='fa fa-arrow-down'></icon>
                                    </div>
                                    <div class="btn" (click)="remove(todo, $event)" style="padding: 0px;font-size: 18px;background-color: #fff;border-radius: 12px;margin-left: 10px;">
                                        <icon class='fa fa-trash'></icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
	</section>
    <hr>
    <br/>
	<footer class="footer" *ngIf="todoStore.todos.length > 0">
        <div class="row">
            <div class="col-sm-8 col-sm-8 col-sm-8 offset-sm-2 offset-md-2 offset-lg-2">
                <div class="form-group" style="font-size: 29px;">
                    <strong>{{todoStore.getRemaining().length}}</strong>
                    {{todoStore.getRemaining().length == 1 ? 'item' : 'items'}} left
                    <br/>
                    <button class="btn btn-primary form-control" *ngIf="todoStore.getCompleted().length > 0" (click)="removeCompleted()" style="width: 200px;">
                        Clear completed
                    </button>
                </div>
            </div>
        </div>
	</footer>
</section>
<google-login></google-login>

